p{
    color: blueviolet;
}

p {
    color: rgb(255, 236, 114);
}

p {
    color: #ff0000;
    width: 300px;
    text-align: centerь;
}

td {
    width: 200px;
    height: 100px;
}

h2 {
    font-weight: normal;
    font-style: italic;
}
p {
    font-weight: bold;
}

td {
    font-weight: bold;
}

th{
    font-weight: normal;
}